<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src='js/authors.js'></script>
    <link rel='stylesheet' href='css/main.css' />
    <link rel='stylesheet' href='css/authors.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav>
      <img src='images/greads_brand.png' class='brand-icon nav-component'/>
      <h1 class="nav-component"><a href='/index.html'>Home</a></h1>
      <p class="nav-component"><a href='/addauthor.html'>Add an Author</a></p>
    </nav>
    <div class='side-nav'>
      <div class='side-nav-books'>
        <a href='/books.html'>Books</a>
      </div>
      <div class='side-nav-authors'>
        <a href='/authors.html'>Authors</a>
      </div>
    </div>
    <div class='authors-container'>
    </div>
  </body>
</html>
