.books-container {
  height:100%;
  width: 60%;
  background-color: #e1e1e1;
  margin: auto;
  padding: auto;
}

.books-single {
  height:100%;
  width: 60%;
  background-color: #e1e1e1;
  margin: auto;
  padding: auto;
}
