// Global Resets
html,a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

// GLobal nav
nav {
  height: 80px;
  width: 100%;
  background-color: lightblue;
  display: flex;
}
nav > h1 {
  font-family: "Verdana";
  font-size: 2em;
}
.nav-component {
  flex-direction: row;
  padding: 20px;
}
.brand-icon {
  height: 50px;
  width: 50px;
}

// Global side nav-component

.side-nav {
  height: 80%;
  width: 125px;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 5%;
  align-items: center;
  justify-content: center;
  display: inline-block;
  position: absolute;
  position: fixed;
}

.side-nav-books {
  height:50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #e1e1e1;
}

.side-nav-authors {
  height:50%;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e2e2;
}
